<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <title>{% block title %}cknv.dk{% endblock title %}</title>
  <link rel="stylesheet" type="text/css" href="{{ get_url(path="stylesheet.css") }}" />
  {% block rss %}
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
</head>
<body>
  <header>
    <h1>cknv.dk</h1>
    <nav>
      <ul>
        <li><a href="{{ get_url(path='@/_index.md') }}">index</a></li>
        <li><a href="{{ get_url(path='@/blog/_index.md') }}">blog</a></li>
        <li><a href="{{ get_url(path='@/about.md') }}">about</a></li>
        <li><a href="{{ get_url(path='@/resume.md') }}">resume</a></li>
        <li><a href="{{ get_url(path='@/bikes/_index.md') }}">bikes</a></li>
      </ul>
    </nav>
    <hr/>
  </header>
  <main>
    {% block content %}{% endblock %}
  {% block bottom_nav %}{% endblock %}
  </main>
</body>
<footer>
  <hr/>
  <nav>
    <a href="{{ get_url(path="atom.xml", trailing_slash=false) }}">feed</a>
  </nav>
</footer>
</html>
