{% extends "layout.html" %}
{% block content %}
    {{ page.html }}
    <hr />
    {% if page.meta.project %}
    <div id="project">
        <p>Project: <a href="/blog/projects#{{ page.meta.project|slug }}">{{ page.meta.project }}</a></p>
    </div>
    {% endif %}
    {% if page.meta.tags %}
    <div id="tags">
        <ul id="tags">
            <li class="tag">Tags:</li>
    {% for tag in page.meta.tags %}
            <li class="tag"><a href="/blog/tags/#{{ tag|slug }}">{{ tag }}</a></li>
    {% endfor %}
        </ul>
    </div>
    {% endif %}
    <p>Posted {{ page.meta.date|simple_date }} by <a href="mailto:{{ author.email }}">{{ author.name }}</a></p>
    <hr />
{% endblock %}
