<!DOCTYPE html>
<html>
<head>
    <title>
    {{ site.title }}{% if page.title %} > {{ page.title }}{% endif %}
    </title>
    <link href="atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="canonical" href="http://{{ site.url }}{{ page.url }}" />
    <!-- <link rel="stylesheet" type="text/css" href="/syntax.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header>
        <img id="author-image-small" src="{{ page.author.image }}"  alt="esben-profile" />
        <h1 id="site-title" class="site-header">{{ site.title }}</h1>
        <nav>
            <a href="/">Blog</a>
            <a href="/about/">About</a>
            <a href="/blog/tags/">Tags</a>
            <a href="/blog/projects/">Projects</a>
        </nav>
    </header>
    <article>
        <h2 id="post-title">{{ page.title }}</h2>
        {% block content %}{% endblock %}
    </article>
    <footer>
        <p>blog version: {{ site.version }}, <a href="/feed.atom">feed</a> - powered by <a href="{{ beetle.url }}">{{ beetle.name }}</a> {{ beetle.version }}</p>
</footer>
</body>
</html>
