<!DOCTYPE html>
<html>
<head>
    <title>
    {{ site.title }}{% if page.meta.title %} > {{ page.meta.title }}{% endif %}
    </title>
    <link href="/feed.atom" type="application/atom+xml" rel="atom feed" title="Sitewide ATOM Feed">
    <link rel="stylesheet" type="text/css" href="/stylesheet.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="canonical" href="http://{{ site.domain }}{{ page.meta.url }}" />
    {# <link rel="stylesheet" type="text/css" href="/syntax.css"> #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
    <header>
        <img id="author-image-small" src="{{ author.image }}" alt="esben-profile" />
        <h1 id="site-title" class="site-header">{{ site.title }}</h1>
        <nav>
            <a href="/">Blog</a>
            <a href="/about/">About</a>
            <a href="/blog/tags/">Tags</a>
            <a href="/blog/projects/">Projects</a>
        </nav>
    </header>
    <article>
        <h2 id="post-title">{{ page.meta.title }}</h2>
        {% block content %}{% endblock %}
    </article>
    <footer>
        <p><a href="https://twitter.com/cknvdk">@cknvdk</a></p>
        <p><a href="http://{{ site.domain }}">{{ site.title }}</a> <a href="/feed.atom">feed</a></p>
</footer>
</body>
</html>
